.container-1 {
    max-width: 267px;
    margin: 0 auto;
    padding: 0 20px;
}

.form__title {
    /*margin-bottom: 11px;*/
}

.form__text {
    letter-spacing: 0px;
    color: #A4A4A4;
}

.input--space-top {
    margin-top: 10px;
}

.button--space-top {
    margin-top: 18px;
}

.results {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 11px;
    border: 1px solid #C10708;
    border-radius: 2px;
}

.results--space-top {
    margin-top: 11px;
}

.results__text {
    font-size: 16px;
    letter-spacing: 0px;
    color: #A4A4A4;
}
